body {
    background-color: #1a1a1a;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.mainDiv{
    background: #333;
    padding: 20px 40px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

#clock {
    font-family: 'Courier New', Courier, monospace;
    font-size: 5rem;
    color: #c19507;
    letter-spacing: 5px;
}
